.page {
    width: 100%;
    height: 80px;
  }
  
  .nav {
    width: 100%;
    background: #1a477b;
    height: 80px;
    font-family: "微软雅黑";
  }
  
  .nav-li {
    width: 20%;
    height: 80px;
    background: #1a477b;
    text-align: center;
    line-height: auto;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin-left: -10px;
    position: relative;
    ;
  }
  
  .tit {
    margin-top: 30px;
    width: auto;
    height: 50px;
   
  }
  
  .nav-li:hover ul {
    display: block;
  }
  
  .nav-li ul {
    width: 300px;
    height: auto;
    position: absolute;
    top: 80px;
    left: 60px;
    background-color: #1a477b;
    color: #fff;
    display: none;
    z-index: 20;
  }
  
  .nav-li ul li {
    width: auto;
    height: 40px;
    padding-top: 20px;
    border-bottom: 1px dashed #666;
    color: #fff;
    text-align: center;
    line-height: auto;
    position: relative;
    z-index: 20;
  
  }
  
  .nav-li ul li:hover .list-3 {
    display: block;
  }
  
  
  .list-3 {
    width: 150px;
    height: auto;
    position: absolute;
    left: 300px;
    top: 0px;
    z-index: 99;
    display: none;
  }
  
  .list-3Dom {
    width: auto;
    height: 40px;
    padding-top: 20px;
    background: #1a477b;
    border-bottom: 1px dashed #666;
    border-left: 1px dashed #666;
    text-align: center;
    line-height: auto;
    z-index: 99;
    color: #fff;
  }
  
  .nav-li ul li:hover {
    background-color: #4169E1;
  }
  
  .list-3Dom:hover {
    background-color: #4169E1;
  }
  
  .nav-li:hover {
    background-color: #4169E1;
  }
  
  /* nba图标 */
  .NbaIconClass{
    float: left;
    margin-left: 40px;
    margin-top: -10px;
  }

  .PicLeftBottom a:link ,.PicLeftBottom a:visited{
    color: black ;
  }
  .PicLeftBottom a:hover{
    color: red;
  }