/* 重置浏览器的默认样式 */
body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,img{
    margin:0 ;
    padding: 0;
    border: 0;
    list-style: none;
}
/* 全局控制 */
body{
    font-family: "微软雅黑",Arial, Helvetica, sans-serif;
    font-size: 14px;
}
/* 未单击和单击后的样式 */
a:link,a:visited{
    color: white;
    text-decoration: none;
}
/* 鼠标移上去的样式 */
/*  a:hover{
    color:blue;
}  */
input,textarea{
    outline:none;
}


.footer {
    width: auto;
    height: 125px;
    padding: 20px 0px;
    background-color: #1f2428;
    text-align: center;
    line-height: 25px;
    color: white;
  }

.footer  a:link,
.footer a:visited {
    color: #3567ad;
    text-decoration: none;
}